1.18
- Amphorae don't work with Mekanism mechanical pipes
- Amphorae don't show GUI when right clicked with empty hand
- Amphorae interact correctly with logistical transporter pipes from Mekanism - items can be added and removed
- Create pipes don't interact with amphorae
- Create crushers don't crush calcites or ceramics
- Mekanism crushers don't either
- Create flour works with Materia dough recipe, there isn't really any other cross-compatibility for dough and flour, but that's a start
**NOTE - Need to add Croptopia and Cooking for Blockheads!** 
- Create crushers make cornmeal
- JEI shows most Materia recipes work appropriately with other mods, their recipes like planks from sawmills are fine, although there should also be some way to make rough and smooth planks, since with the overrides, those are still needed for things like doors and chests instead of vanilla wood plank blocks.
- Resources and world generation features are working correctly

General notes:
- We need other ways to make string from wool... I have a spinning wheel block, maybe we can connect hoppers to that, or use an existing machine?? I guess wool clumps won't do anything else in crushers, so that could work.
- We could definitely use another way to make glue, other than boiling bones in water pots... I'm sure Mekanism has something that could work.
- Smelting in other mods doesn't follow Materia's temperature rules. We can assume energized smelters etc can be tuned (the temp can be changed) - fine. There's no "modern" or mechanized way to make ash or kelp ash though, I don't think. We'll need to come up with something...

Are there any remaining gaps between Materia, Create, and Mekanism? I think Create pretty much picks up where Materia leaves off, and Mekanism goes beyond that. I want to make sure the transitions from the stone age to the modern age are smooth and carry everything forward, meaning whatever simple methods you have to use with sticks and stones early on should all be replaced by machines and automation, eventually. Most of that is done pretty well already, but we can do more.

Examples:
- Dyes (especially making purple and tyrian purple easier)
- Other chemistry